th,
td {
  min-width: 40px;
}

th:not(:first-child),
td:not(:first-child) {
  text-align: center;
  border-right: solid 1px black;
  border-left: solid 1px black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td:hover {
  background-color: rgba(21, 95, 255, 0.3);
}

table {
  border-collapse: collapse;
}

table tr {
  border-bottom: 1px solid black;
}
